h1{
    text-align: center;
    color: white;
    background-color: red;
}

h2{
    text-align: center;
    margin-bottom: 2em;
}
.lien{
    display: block;
    text-align: center;
    margin-bottom: 8em;
    color: blue;
} 

.lien:hover {
    text-decoration: underline;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-height: 100%;
}

.bouton-suivant{
    display: block;
    text-align: center;
    margin-top: 5em;
    color: blue;
}

.conteneur-boutons {/* Conteneur qui aligne les 2 boutons sur la même ligne */
    display: flex;
    width: 100%;             /* Prend toute la largeur de la page */
    justify-content: space-around; /* Place le centre des boutons à 1/4 et 3/4 */
    align-items: center;
    margin-top: 30px;        /* Espacement au-dessus des boutons */
}


.bouton {/* Style de tes boutons (optionnel) */
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
